* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

html {
    display: flex;
    justify-content: center;
    background-color: #fef6fa;
}

@media only screen and (max-width: 599px) {
    html {
        display: flex;
        
        justify-content: center;
        background-color: #fef6fa;
    }
    body {
        flex-flow: row wrap;
        background-color: white;
        margin: 0px;
        padding: 10px;
        width: 100%;
    }
    .description > ul > li {
        margin-bottom: 1em;
        text-align: center;
    }
}
@media only screen and (min-width: 600px) {
    
    body {
        width: 75vw;
        flex-flow: row wrap;
        background-color: white;
        margin: 0px;
        padding: 0px;
    }
    .box-shit {
        display: flex;
        align-content: center;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #e4efc6;
        padding: 0.4em;
        gap: 0.5em;
        /* padding-top: 10px; */
        
    }
}


.box-shit {
    display: flex;
    align-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #e4efc6;
    padding: 0.4em;
    gap: 0.5em;
    
}

.food-desc {
    font:x-large;
}

.ul-1 {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    /* border: solid red 2px; */
}

.ul-2 {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    /* justify-content: space-evenly; */
    /* border: solid black 2px; */
    justify-content: center;
    padding-top: 1.5em
}

.ul-3 {
    display:flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    /* width: 75vw; */
}

.ingredients {
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */
    word-wrap: break-word;
    width: 44rem;
}
.description {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    word-wrap: break-word;
    width: 43rem;
}
.description > ul > li {
    margin-bottom: 1em;
}
.desc-headline {
    text-align: center;
}

#comment-section > li {
    list-style: none;
    /* border: solid red 2px; */
    background: tomato;
    width: fit-content;
    height: fit-content;
    text-align: center;
    line-height: 40px;
    font-size: 1.5em;
    /* font-weight: bold; */
    margin: 5px;
}

#comment {
    border: solid 2px red;
    width: 50rem;
    
}